.app-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
   
  


}

.app-header {
     border-bottom: 1px solid rgb(27, 27, 78);
}

.header-logo {
    
    & > img {
        /* height:10rem; */
        height: 3rem;
        object-fit: cover;
        
    }
}

@media(max-width:500px) {
.header-logo {
   & > img {
        /* height:10rem; */
        height: 2rem;
        
    }
}
}