@import url("./global.css");
@import url("./layout.css");
@import url("./header.css");
@import url("./nav.css");
@import url("./button.css");
@import url("./aside.css");
@import url("./carteirinha.css");
@import url("./section.css");
@import url("./quick-acess.css");